@{
    ViewBag.Title = "Email Confirmation";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thanks for email confirmation.Please  @Html.ActionLink("Click here to Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
